@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using DoAnLTWEB.Models;

@{
    var mylist = (List<GioHang>)Session["cart"];
}
@if (mylist == null)
{
    <p>Có 0 sản phẩm trong giỏ hàng</p>
}
else
{
    <p>
        Có @{ List<GioHang> cart1 = (List<GioHang>)Session["cart"];
            var sl = cart1.Sum(item => item.SoLuong); } sản phẩm trong giỏ hàng
    </p>
}

